body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1511044568932-338cba0ad803?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;

}
.cover{
    opacity: 0.9;
}
h2{
    color:white;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,.9);
}
.clock{
    color: aliceblue;
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(180, 175, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(180, 214, 147);   
    align-items: center;
    justify-content: center;
}

.clock #ampm{
    margin-top: 30px;
    margin-left: 20px;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 30px;
    background-color: rgba(38, 43, 44, 0.779);
}